In [20]:
pip install xlrd

Requirement already satisfied: xlrd in c:\users\manis\anaconda3\lib\site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [21]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\manis\anaconda3\lib\site-packages (9.3.0)Note: you may need to restart the kernel to use updated packages.

In [22]:
pip install SQLAlchemy

Requirement already satisfied: SQLAlchemy in c:\users\manis\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\manis\anaconda3\lib\site-packages (from SQLAlchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\manis\anaconda3\lib\site-packages (from SQLAlchemy) (3.0.1)
Note: you may need to restart the kernel to use updated packages.

In [23]:
pip install pandas

Requirement already satisfied: pandas in c:\users\manis\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\manis\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\manis\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\manis\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\manis\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\manis\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import mysql.connector

In [3]:
conn=mysql.connector.connect(
    host="localhost",
    user="root",
    password="your_password",
    database="buildweek"
)
print
cursor=conn.cursor()

In [5]:
import pandas as pd

In [7]:
df=pd.read_csv('clean_job_descriptions (1).xls')

In [9]:
df.head(10)

,Title,Company,Location,Average Salary,Date Posted
0,Digital Marketing Specialist,Icahn Enterprises,Douglas,79000.0,2022-04-24
1,Web Developer,PNC Financial Services Group,Ashgabat,86000.0,2022-12-19
2,Operations Manager,United Services Automobile Assn.,Macao,82500.0,2022-09-14
3,Network Engineer,Hess,Porto-Novo,78000.0,2023-02-25
4,Event Manager,Cairn Energy,Santiago,75500.0,2022-10-11
5,Software Tester,Adani Ports and Special Economic Zone,Brussels,76000.0,2023-07-25
6,Teacher,FedEx,George Town,83000.0,2023-04-10
7,UX/UI Designer,Ryder System,SÃ£o TomÃ©,83500.0,2022-09-20
8,UX/UI Designer,Zee Entertainment Enterprises,Male,83500.0,2022-02-19
9,Wedding Planner,CSX,Saint John's,70000.0,2022-05-13

In [11]:
#insert into MySQL table
for _, row in df.iterrows():
    cursor.execute("""INSERT INTO clean_job_descriptions(`Title`, `Company`, `Location`, `Average Salary`, `Date Posted`)
    VALUES(%s, %s, %s, %s, %s)""",
                  (row["Title"],row["Company"],row["Location"],row["Average Salary"],row["Date Posted"]))
conn.commit()
print("Data inserted successfully")

querry="SELECT * FROM clean_job_descriptions"
cursor.execute(querry)
rows=cursor.fetchall()
for row in rows:
    print(row)

Data inserted successfully

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)